<!-- <div class="main">
  <div class="card" *ngFor="let prod of headphonesData?.wired">
    <div class="card-img">
      <img src="{{ prod.img }}" alt="card image" />
    </div>
    <div class="card-description">
      <div class="wrapper">
        <span class="title">{{ prod.title }}</span>
        <div class="price-wrapper">
          <p class="discount">{{ prod.price }} ₽</p>
          <p *ngIf="prod.discount" class="price">
            {{ prod.discount | currency : "RU" }} ₽
          </p>
          <p *ngIf="!prod.discount" class="price hide"></p>
        </div>
      </div>
      <div class="wrapper bottom">
        <div class="rate-wrapper">
          <img src="assets/icons/star.svg" alt="star" />
          <p class="rate">{{ prod.rate }}</p>
        </div>
        <button class="card-button">Купить</button>
      </div>
    </div>
  </div>
</div> -->
